* {
    margin: 0;
    padding: 0;
  }

  .menu{
    position: fixed;
    width: 300px;
    height: 100%;
    background: blue;
    text-decoration-color: white;
  }

  .menu header{
    font-size: 35px;
    color: white;
    text-align: center;
    line-height: 40px;
    border-bottom: 2px solid white;
    padding: 10px;
  }

  .menu ul li {    /* Elementos de menu */
    color: white;
    text-align: center;
    border-bottom: 1px solid white;  /* bordes */
    padding: 58px;  /* tamaño opciones */
    display: block;
  }